/* 애니메이션 시작 할 때 */
.wow-enter {
  opacity: 0;
}

/* 애니메이션 동작 할 때 */
.wow-enter-active {
  opacity: 1;
  transition: all 500ms;
}

.my-alert {
  background: #eee;
  padding: 15px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.my-alert2 {
  @extend .my-alert;
  background: lemonchiffon;
}

.my-alert p {
  margin-bottom: 0;
}

.my-alert3 {
  position: absolute;
  top: 150px;
  right: 10px;
  width: 100%;
  max-width: 200px;
  background: lightblue;
  padding: 15px;
  border-radius: 5px;
}
