.my-alert {
  background: #eee;
  padding: 15px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.my-alert2 {
  @extend .my-alert;
  background: green;
}

.my-alert p {
  margin-bottom: 0;
}
